
.header {
    width: 100%;
    height: 50px;
}

.editor {
    border: 2px solid black;
    border-radius: 5px;
    .toolbar {
        padding: 5px;
        height: 30px;
        background: white;
        border-radius: 5px;
        filter: brightness(0.8);
        -webkit-filter: brightness(0.8);
        -moz-filter: brightness(0.8);
        -o-filter: brightness(0.8);
        -ms-filter: brightness(0.8);

        ul {
            list-style: none;
            ;
            margin: 0;
            padding: 0;
        }

        li {
            display: inline-block;
            margin-right: 10px;
        }
    }
}

#container {
    background: white;
    border-top: 1px solid black;
    //cursor: grab;
}

#contextMenu {
  display: block;
  position: absolute;
  width: 80px;
  background-color: white;
  box-shadow: 0 0 5px grey;
  border-radius: 3px;
  z-index: 999; /* Set a higher zIndex value */
}

#contextMenu button {
  width: 100%;
  background-color: white;
  border: none;
  margin: 0;
  padding: 10px;
}

#contextMenu button:hover {
  background-color: lightgray;
}


