<!--
  ~ <<licensetext>>
  -->
<div class="editor">
  <div class="toolbar">
    <ul>
      <li>
        <button
        style="margin-right: 10px;"
        (click)="selectedShape = undefined"
        >
          <span>None</span>
        </button>
        <button
        (click)="selectedShape = ShapeType.RECTANGLE"
        [draggable]="true"
        (dragstart)="shapeMenuItemDragStarted(ShapeType.RECTANGLE, $event)">
          <span>Rectangle</span>
        </button>
      </li>
      <li>
        <span>Selected shape: {{selectedShape ? selectedShape : 'None'}}</span>
      </li>
      <li>
        <span>A layer is selected: {{selectedLayer ? 'True' : 'False'}}</span>
      </li>
    </ul>
  </div>
  <div #contextMenu id="contextMenu" class="menu">
    <ng-container *ngIf="isShowContextMenu">
      <button *ngIf="!isGrouped" id="group_button" (click)="groupSelectedShapes()">Group</button>
      <button *ngIf="isGrouped" id="ungroup_button" (click)="ungroupSelectedShapes()" >Ungoup</button>
      <button id="delete_button">Delete</button>
    </ng-container>
  </div>
  <div
  #container
  id="container" 
  style="width: 100%; height: 100%;"
  tabindex="0" 
  (drop)="onDrop($event)"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (dragend)="onDragEnd($event)"
  ></div>
</div>


